<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <jsp-config>
        
        <jsp-property-group>
            <description>header and footer (INDEX)</description>
            <url-pattern>/index.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        
        <jsp-property-group>
            <description>header and footer (ERROR)</description>
            <url-pattern>/error.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        
        <jsp-property-group>
            <description>header and footer (COURSE) - menu script for COURSE</description>
            <url-pattern>/WEB-INF/view/course/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-prelude>/WEB-INF/navigation/course.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>header and footer (COURSE) - menu script for COURSE</description>
            <url-pattern>/WEB-INF/view/course/course/*</url-pattern>
            <include-prelude>/WEB-INF/script/course/course.jspf</include-prelude>
        </jsp-property-group>
        <jsp-property-group>
            <description>header and footer (COURSE) - menu script for PROGRAMME</description>
            <url-pattern>/WEB-INF/view/course/programme/*</url-pattern>
            <include-prelude>/WEB-INF/script/course/programme.jspf</include-prelude>
        </jsp-property-group>
        
        <jsp-property-group>
            <description>header and footer (METHODOLOGY)</description>
            <url-pattern>/WEB-INF/view/methodology/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-prelude>/WEB-INF/navigation/methodology.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>header and footer (METHODOLOGY) - menu script for LANGUAGE</description>
            <url-pattern>/WEB-INF/view/methodology/language/*</url-pattern>
            <include-prelude>/WEB-INF/script/methodology/language.jspf</include-prelude>
        </jsp-property-group>
        <jsp-property-group>
            <description>header and footer (METHODOLOGY) - menu script for LECTOR</description>
            <url-pattern>/WEB-INF/view/methodology/lector/*</url-pattern>
            <include-prelude>/WEB-INF/script/methodology/lector.jspf</include-prelude>
        </jsp-property-group>
         <jsp-property-group>
            <description>header and footer (METHODOLOGY) - menu script for LIBRARY</description>
            <url-pattern>/WEB-INF/view/methodology/library/*</url-pattern>
            <include-prelude>/WEB-INF/script/methodology/textbook.jspf</include-prelude>
        </jsp-property-group>
        <jsp-property-group>
            <description>header and footer (METHODOLOGY) - menu script for TEXTBOOK</description>
            <url-pattern>/WEB-INF/view/methodology/textbook/*</url-pattern>
            <include-prelude>/WEB-INF/script/methodology/textbook.jspf</include-prelude>
        </jsp-property-group>
        
        <jsp-property-group>
            <description>header and footer (ORGANISATION) - menu script for CUSTOMER</description>
            <url-pattern>/WEB-INF/view/organisation/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-prelude>/WEB-INF/navigation/organisation.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>header and footer (ORGANISATION) - menu script for BILL</description>
            <url-pattern>/WEB-INF/view/organisation/bill/*</url-pattern>
            <include-prelude>/WEB-INF/script/organisation/bill.jspf</include-prelude>
        </jsp-property-group>
        <jsp-property-group>
            <description>header and footer (ORGANISATION) - menu script for CUSTOMER</description>
            <url-pattern>/WEB-INF/view/organisation/customer/*</url-pattern>
            <include-prelude>/WEB-INF/script/organisation/customer.jspf</include-prelude>
        </jsp-property-group>
        <jsp-property-group>
            <description>header and footer (ORGANISATION) - menu script for INVOICE</description>
            <url-pattern>/WEB-INF/view/organisation/invoice/*</url-pattern>
            <include-prelude>/WEB-INF/script/organisation/invoice.jspf</include-prelude>
        </jsp-property-group>
        <jsp-property-group>
            <description>header and footer (ORGANISATION) - menu script for MONEY IN</description>
            <url-pattern>/WEB-INF/view/organisation/moneyIn/*</url-pattern>
            <include-prelude>/WEB-INF/script/organisation/moneyIn.jspf</include-prelude>
        </jsp-property-group>
        <jsp-property-group>
            <description>header and footer (ORGANISATION) - menu script for MONEY OUT</description>
            <url-pattern>/WEB-INF/view/organisation/moneyOut/*</url-pattern>
            <include-prelude>/WEB-INF/script/organisation/moneyOut.jspf</include-prelude>
        </jsp-property-group>
        
    </jsp-config>
    <welcome-file-list>
        <welcome-file>faces/index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <resource-ref>
        <description>Connects to database for School application</description>
        <res-ref-name>jdbc/schoolManagement</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
