/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-Dec-2015, 09:25:45
    Author     : Rafa
*/


body {
    margin: 5%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #CCCCFF;
}

header {
    background: #aaa;
    height: 100px;
    border-radius: 15px;
}

div.inlineTableDisplay {
    display: inline-table;
}

div.listItemDisplay {
    display: list-item;
    list-style-type: none;
}

#logo {
    height: 100px;
    width: 400px;
    float: left;
    margin-left: 33px;
    margin-top: -33px;
}

#section-szkola-left-column {
    height: 400px;
    width: 80%;
    float: left;
    background: #eee;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px 30px;
}

#section-szkola-one-column {
    background: #eee;
    padding: 20px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px 30px;
}

#section-szkola-confirmation {
    background: #eee;
    padding: 20px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

#aside-szkola {
    height: 400px;
    width: 15%;
    float: right;
    font-size: larger;
    background: #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

footer {
    height: 60px;
    clear: both;
    background: #aaa;
    border-radius: 15px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer a {
    color: inherit;
    text-decoration: none;
}

/* HORIZONTAL RULE */

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #CCCCFF;
    background-color: #CCCCFF;
}

hr.tableHR {
    margin-top: 0px;
    margin-bottom: 5px;
    color: #CCCCFF;
    background-color: #CCCCFF;
}

/* FORMS */

select.inputForm {
    width: 240px;
}

input.inputForm {
    width: 234px;
}

textarea.inputForm {
    width: 234px;
}



/* EMAIL */

tr a {
    color: inherit;
    text-decoration: none;
}

tr a.email {
    color: purple;
}

tr a.email:hover {
    text-decoration: underline;
}

/* LINK */
tr a.link {
    color: black;
}

tr a.link:hover {
    text-decoration: underline;
}


/* NAVIGATION general */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    text-align: center;
    padding: 0px 5px;
    text-decoration: none;
    color: inherit;
    text-decoration: none;
}

/* NAVIGATION main */

nav.nav-szkola {
    margin: -15px 0px 15px 15px;
}

.mainMenuButton {
    padding: 10px;
    background-color: #9999ff;
    border-radius: 15px;
    width: 150px;
    display: table-cell;
    text-align: center;
}

.mainMenuButton:hover {
    background-color: #6666ff;
    color: white;
}

.mainMenuButtonActive {
    padding: 10px;
    background-color: #663399;
    border-radius: 15px;
    width: 150px;
    display: table-cell;
    text-align: center;
    color: white;
}

.mainMenuButtonActive:hover {
    background-color: #6666ff;
}

.mainMenuText {
    line-height: 25px;
    font-size: large;
    text-decoration: none;
}

/* NAVIGATION section */

nav.nav-section {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sectionMenuButton {
    padding: 10px;
    background-color: #CCC;
    border-radius: 15px;
    width: 150px;
    display: table-cell;
    text-align: center;
}

.sectionMenuButton:hover {
    background-color: #AAA;
    color: white;
}

.sectionMenuButtonActive {
    padding: 10px;
    background-color: #9966cc;
    border-radius: 15px;
    width: 150px;
    display: table-cell;
    text-align: center;
    color: white;
}

.sectionMenuButtonActive:hover {
    background-color: #AAA;
}

.sectionMenuText {
    line-height: 25px;
    font-size: large;
    text-decoration: none;
}

/* small buttons */

a.smallButton {
    color: inherit;
    text-decoration: none;
}

.smallButton {
    padding: 5px;
    background-color: #CCCCFF;
    border-radius: 5px;
    /*    display: table-cell;*/
    text-align: center;
    margin: 10px 10px 10px 20px;
    padding: 4px 10px;
}

.smallButton:hover {
    background-color: #9999ff;
    color: white;
}

.smallButtonText {
    font-size: medium;
    text-decoration: none;
}

.smallButtonText:hover {
    color: white;
}

/* tiny buttons */

.tinyButton {
    padding: 5px;
    background-color: #CCCCFF;
    border-radius: 5px;
    /*    display: table-cell;*/
    text-align: center;
    margin: 10px 10px 10px 20px;
    padding: 2px 5px;
}

.tinyButton:hover {
    background-color: #9999ff;
    color: white;
}

.tinyButtonText {
    text-decoration: none;
}

.tinyButtonText:hover {
    color: white;
}

/* end of BUTTONS */



/* TABLES */

table {
    margin: 10px 20px;
    border-spacing: 0;
    text-align: center;
    
}

.tableHeading {
    font-weight: bold;
    background-color: #ccc;
}

.tableSubHeading {
    font-weight: bold;
    background-color: #CCCCFF;
}


/* list */

.listTable {
    text-align: left;
    background-color: #EDF8F7;
    border: solid 1px #CCCCFF;
}

.listTable th { padding: 10px 20px }

.listTable td {
    padding: 10px 40px;
    font-size: small;
    font-family: "Courier New", courier, monospace;
}

/* detailed */

.detailedTable {
    text-align: left;
    background-color: #EDF8F7;
    border: solid 1px #CCCCFF;
}

.detailedTable th { padding: 5px 50px }

.detailedTable td {
    padding: 10px;
}

tr.cellsInCentre {
    text-align: center;
}

td.cellsInCentre {
    text-align: center;
}

tr.cellsOnRight {
    text-align: right;
}

td.cellsOnRight {
    text-align: right;
}

/* forms */

.formTable {
    border: none;
    text-align: right;
}

.formTable th {
    text-align: left;
    padding-bottom: 10px;
}

.formTable td {
    padding: 5px 20px 5px 20px;
}


/* errors */



table.formTable td.formError {
    color: red;
    text-align: left;
}

table.formTable td.formErrorAsterix {
    color: red;
    text-align: left;
    padding-left: 0px;
}

table.detailedTable td.inputError {
    color: red;
    text-align: left;
    padding-left: 0px;
}

table.detailedTable td.inputCenterError {
    color: red;
    text-align: center;
    font-size: smaller;
}

/* view-all table */

table.viewAllTable {
}

table.viewAllTable td.leftCell {
    padding-right: 15px;
}

table.viewAllTable td.rightCell {
    padding-left: 15px;
}

/* cancel-save table */

table.cancelSaveTable {
}

table.cancelSaveTable td.leftCell {
    padding-right: 15px;
}

table.cancelSaveTable td.rightCell {
    padding-left: 15px;
}

table.cancelSaveTable td.textInCellsOnLeft {
    text-align: left;
    padding-left: 20px;
}


/* table with pagination */

td.cellWithPagination {
    padding-left: 50px;
    padding-right: 50px;
}

/* general */

.lightBlue { background-color: #edf8f7 }

.white { background-color: #fff }

/*this one for JavaScript*/
.selectedRow {
    background-color: #CCCCFF;
    cursor: pointer;
}

/* end of TABLES */


/* PAGINATION */

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline
}

ul.pagination li a {
    float: left;
    padding: 8px 16px;
    border-radius: 5px;
}

ul.pagination a.active {
    background-color: #CCCCFF;
    color: white;
}

ul.pagination a.active:hover {
    background-color: #9999ff;
}



.pagination li a:hover:not(.active) {
    background-color: #CCC;
    color: white;
}


/* end of PAGINATION */


